{% extends "admin/index.html" %}
{% load i18n %}

{% block sidebar %}
{{ block.super }}
<div class="module" id="backup-manager-module">
    <h2>{% trans "Ferramentas de Administração" %}</h2>
    <ul>
        <li>
            <a href="{% url 'tickets:admin_backup_manager' %}">
                {% trans "Gerenciador de Backups" %}
            </a>
        </li>
        {% if user.is_superuser %}
        <li>
            <a href="{% url 'tickets:api_management' %}">
                {% trans "Gerenciamento de APIs" %}
            </a>
        </li>
        <li>
            <a href="{% url 'tickets:n8n_settings' %}">
                {% trans "Configurações de API" %}
            </a>
        </li>
        <li>
            <a href="{% url 'admin:tickets_apikey_changelist' %}">
                {% trans "Gerenciar Chaves de API" %}
            </a>
        </li>
        <li>
            <a href="{% url 'admin:tickets_n8nconfig_changelist' %}">
                {% trans "Configurações de Webhooks" %}
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %} 